@media screen and (min-width: 1150px) {
    main{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .search_comboBox{
        flex-direction: row;
        align-items: baseline;
    }
    .searchIcon{
        left: 95%;
    }
    .recette_card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        justify-content: space-around;
    }
    .search_ingredients, .search_appareil{
        margin-right: 20px;
        margin-bottom: 0px;
    }
    .ingredientOpen{
        width: 55%;
        position: relative;
    }
    .ingredient_list_open{
        position: absolute;

    }
    .appareil_icon{
        left: 220px;
    }
    .appareilOpen{
        width: 437px;
    }
    .ulAppareilOpen{
        position: absolute;

        width: inherit;
    }
    .ustensiles_open{
        width: 40%;
        position: relative;
        width: 518px;
    }
    .ustensOpen{
        background-color: #ED6454;
        width: auto;
        position: absolute;
    }
    .iconUstensOpen{
        left: 305px;
    }
    .recherche{
        margin-left: 0px;
        margin-right: 0px;
    }
    .ing{
        left: 65%;
    }
}