@media screen and (min-width: 1150px) {
    /* #search{
        margin-left: 45px;
    } */
    main{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .search_comboBox{
        flex-direction: row;
        align-items: baseline;
        /* margin-left: 45px; */
    }
    .searchIcon{
        left: 95%;
    }
    .recette_card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* align-items: baseline; */
        justify-content: center;
        width: 100%;
        justify-content: space-around;
    }
    .search_ingredients, .search_appareil{
        margin-right: 20px;
        margin-bottom: 0px;
       
    }
    .ingredientOpen{
        width: 55%;
        position: relative;
    }
    .ingredient_list_open{
        position: absolute;
        /* width: 46%; */
    }
    .appareil_icon{
        left: 220px;
    }
    .appareilOpen{
        width: 437px;
    }
    .ulAppareilOpen{
        position: absolute;
        display: block;
        width: inherit;
    }
    .ustensiles_open{
        width: 40%;
        position: relative;
        width: 518px;
    }
    .ustensOpen{
        background-color: #ED6454;
        width: auto;
        position: absolute;
    }
    .iconUstensOpen{
        left: 305px;
    }
    .recherche{
        margin-left: 0px;
        margin-right: 0px;
    }
    .ing{
        left: 65%;
    }
}
/* @media screen and (min-width: 1245px) {
    .appareilOpen{
        left: 22%;
    }
    .ustensiles_open{
        left: 38%;
    }
}
@media screen and (min-width: 1355px) {
    .appareilOpen{
        left: 21%;
    }
    .ustensiles_open{
        left: 36%;
    }
   
}
@media screen and (min-width: 1490px) {
    .appareilOpen{
        left: 20%;
    }
    .ustensiles_open{
        left: 33%;
    }
} */