@media screen and (min-width: 1100px) {
    /* #search{
        margin-left: 45px;
    } */
    main{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .search_comboBox{
        flex-direction: row;
        align-items: baseline;
        /* margin-left: 45px; */
    }
    .searchIcon{
        left: 95%;
    }
    .recette_card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* align-items: baseline; */
        justify-content: center;
        width: 100%;
        justify-content: space-around;
    }
    .search_ingredients, .search_appareil{
        margin-right: 20px;
        margin-bottom: 0px;
       
    }
    .ingredientOpen{
        width: 55%;
    }
    .appareil_icon{
        left: 220px;
    }
    .appareilOpen{
        /* z-index: 99;
        left: 285px;
        width: 35%; */
        z-index: 99;
        left: 296px;
        width: 35%;
        position: absolute;
    }
    .ustensiles_open{
        /* width: 55%; */
        width: 40%;
        position: absolute;
        left: 32%;
        bottom: 131px;
    }
    .iconUstensOpen{
        left: 350px;
    }
    .recherche{
        margin-left: 0px;
        margin-right: 0px;
    }
    .ing{
        left: 65%;
    }
}